body {
    font-family: "Noto Sans JP", sans-serif;
    display: flex;
    flex-flow: column;
}

ul {
    list-style: none;
    margin: 0 auto;
}

li {
    display: block;
}

h1 {
    font-weight: 800;
    text-align: center;
}

p{
    text-align: center;
}

img {
    width: 40%;
    margin: 0 auto;
}